<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Year of Birth</th>
        <th>Roles</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getYearOfBirth()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td>
            <a th:href="@{admin/update/{id}(id=${user.getId()})}">Edit</a>
        </td>
    </tr>
    </tbody>
    </table>
<br/>
<a href="admin/new">Create new user</a>
<br/>
<a href="/logout">Logout</a>
</body>
</html>