<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Year of Birth</th>
        <th>Roles</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getYearOfBirth()}"></td>
        <td th:text="${user.getRoles()}"></td>
    </tr>
    </tbody>
</table>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>